In [1]:
import pandas as pd
import numpy as np

In [2]:
training_data_path = "Documents/BMI507-SP18/sample_data/train_data/"
patients_path = training_data_path + "training_patient.csv"

In [3]:
patients = pd.read_csv(training_data_path + "training_patient.csv")

In [4]:
patients.head()

,PatientGuid,dmIndicator,Gender,YearOfBirth,State,PracticeGuid
0,FB6EFC3D-1A20-4497-9CBD-00027CC5D220,0,M,1929,SD,7BF4DAD8-5F67-4985-B911-20C9E89A3737
1,C6746626-6783-4650-A58F-00065649139A,0,F,1985,TX,E7101967-2FF1-4B0F-8129-B0B429D1D15C
2,E05C6E8F-779F-4594-A388-000C635AE4D3,0,F,1984,NJ,FC01A799-1CAF-464F-A86F-8A666AB86F32
3,EAEBD216-F847-4355-87B2-000D942E08F0,0,M,1959,OH,EEBC95EF-79BE-4542-892E-98D3166BAB20
4,C7F10A80-4934-42D2-8540-000FBEBA75C8,0,F,1990,FL,677BA32E-B4C4-48F2-86E4-08C42B135401

In [5]:
patients.tail()

,PatientGuid,dmIndicator,Gender,YearOfBirth,State,PracticeGuid
9943,96C0A4E6-1E3E-497E-9C4E-FFEC0E25AD3A,0,F,1978,TX,E7101967-2FF1-4B0F-8129-B0B429D1D15C
9944,5845977A-3014-4301-92B3-FFF0A2EBBAD2,0,F,1986,WA,EADEC07A-9901-411F-BBE3-04376029E1E8
9945,F948403A-ABE6-496D-B37D-FFF9A9D79767,1,F,1955,CA,57B6F75F-CF0A-4225-BAD0-8222A7D4B489
9946,F764BC86-0CFA-4661-8D84-FFFA8E2B6080,0,F,1960,CA,1A69F223-8409-4FDC-A26C-114677D2D4C3
9947,A411D8EA-81A2-4A7F-9EF9-FFFD8ECBE91C,0,F,1934,NJ,6C808413-0201-4850-B906-5D2A8433A82D

In [6]:
patients.describe()

       dmIndicator  YearOfBirth
count  9948.000000  9948.000000
mean      0.191395  1957.396060
std       0.393419    17.493912
min       0.000000  1922.000000
25%       0.000000  1944.000000
50%       0.000000  1957.000000
75%       0.000000  1970.000000
max       1.000000  1994.000000